project/resources/downloaded/*
project/resources/processedEDI
build/*
tests/*
.vscode/*
project/EDIparser.log
project/tests/__pycache__/test_connect.cpython-36.pyc
project/tests/__pycache__/test_ftp.cpython-36.pyc
project/tests/__pycache__/test_paths.cpython-36.pyc
project/tests/__pycache__/test_xml.cpython-36.pyc
project/tests/lib/__pycache__/__init__.cpython-36.pyc
project/tests/lib/__pycache__/queries.cpython-36.pyc
project/tests/lib/frames/__pycache__/__init__.cpython-36.pyc
project/tests/lib/gui/__pycache__/__init__.cpython-36.pyc
project/tests/lib/services/__pycache__/__init__.cpython-36.pyc
project/tests/lib/services/__pycache__/connection.cpython-36.pyc
setup-parser.spec
__pycache__/setup-parser.cpython-34.pyc
dist/setup-parser/_bz2.pyd
dist/setup-parser/_ctypes.pyd
dist/setup-parser/_hashlib.pyd
dist/setup-parser/_lzma.pyd
dist/setup-parser/_multiprocessing.pyd
dist/setup-parser/_socket.pyd
dist/setup-parser/_ssl.pyd
dist/setup-parser/_win32sysloader.pyd
dist/setup-parser/mfc100u.dll
dist/setup-parser/MSVCR100.dll
dist/setup-parser/pyexpat.pyd
dist/setup-parser/python34.dll
dist/setup-parser/pythoncom34.dll
dist/setup-parser/pywintypes34.dll
dist/setup-parser/select.pyd
dist/setup-parser/setup-parser.exe
dist/setup-parser/setup-parser.exe.manifest
dist/setup-parser/unicodedata.pyd
dist/setup-parser/win32api.pyd
dist/setup-parser/win32trace.pyd
dist/setup-parser/win32ui.pyd
dist/setup-parser/Include/pyconfig.h
dist/setup-parser/lib2to3/Grammar.txt
dist/setup-parser/lib2to3/Grammar3.4.4.final.0.pickle
dist/setup-parser/lib2to3/PatternGrammar.txt
dist/setup-parser/lib2to3/PatternGrammar3.4.4.final.0.pickle
.vscode/settings.json
